<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809041640079-jasjbfj89lomq3l68u0q2d5o5ac2absv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809041640079-jasjbfj89lomq3l68u0q2d5o5ac2absv</string>
	<key>API_KEY</key>
	<string>AIzaSyCD214-49b4xiMSE4X2G37lOcuRW3OodQg</string>
	<key>GCM_SENDER_ID</key>
	<string>809041640079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-82454</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-82454.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809041640079:ios:d960c5655fc90da57f4efa</string>
</dict>
</plist>